# Dependencies
node_modules/
frontend/node_modules/
.next/
frontend/.next/
frontend/out/

# Python cache & envs
__pycache__/
*.py[cod]
*$py.class
.env
.env.local
.env.*.local
venv/
.venv/

# System & IDE
.DS_Store
*.log
.vscode/

# Dataset & Training outputs
chest_xray/
dataset/
runs/
logs/
weights/
